
.flexy{
    display: flex;
    gap: 40px;
    color:white;
    font-size: 21px;
    font-weight: 600;
    justify-content: start;
    align-items: center;
}

.images{
    width: 40px;
    height: 40px;
}

.high{
    color: rgb(0, 150, 255);
}